.App {
  text-align: center;
}

ul {
  list-style: none;
}

table,
td {
  border: 1px grey dotted;
  padding: 5px;
}

a {
  color: #425375;
  text-decoration: none;
}

a:hover {
  color: #61dafb;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  line-height: 15px;
}

.content {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
}

.contentChildren {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
